h1 creat user

if errors
  each error in errors
    p #{error}

form(action="/users/create", method="POST")
  label Name 
  input(name="name", type="text")
  label phone
  input(name="phone", type="text")
  button Create 
